.keysGridWrapper {
  width: 100%;
  .keysGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px;
    border-radius: 12px;

    .button-wrapper {
      justify-self: stretch;
      align-self: stretch;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .stretch-reset {
      grid-column: 1/3;
    }
    .stretch-equals {
      grid-column: 3/5;
    }

    .error-message {
      color: rgb(220, 83, 71);
      max-width: 100%;
      grid-column: 1/5;
    }
  }
}
