.keysGridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .keysGrid {
    background-color: #252d44;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 25px;
    width: 90%;
    max-width: 550px;
  }
}
